<div class="col-xs-6 col-sm-3 damager-col">
	<div class="damager-container">
		<div>
			<h3 class="m0">{{damager.name}}</h3>
			<div [ngClass]="{'damager-container-inner': true, 'mt10': true, 'invalid': (damager.deteriorationPercentage == 100)}" (click)="damagerClick()">
				<div class="damager-outer">
					<div class="damager">
						<i class="{{damager.icon}}"></i>
					</div>
				</div>
			</div>
			<div class="mt10">
				Worn: {{damager.deteriorationPercentage}}%</div>
		</div>
	</div>
</div>