/* Blue shades (from light to dark):
	rgb(199, 226, 243), rgb(83, 136, 170), rgb(41, 82, 109), rgb(13, 35, 50), rgb(0, 4, 7)
	Ocher color:
	rgb(255, 242, 206), rgb(255, 219, 116), rgb(170, 140, 57), rgb(78, 62, 16), rgb(11, 8, 0) 
	Green color:
	rgb(198, 245, 222), rgb(84, 184, 136), rgb(39, 118, 80), rgb(11, 55, 34), rgb(0, 8, 4)
	Red color:
	rgb(255, 192, 171), rgb(213, 134, 107), rgb(170, 86, 57), rgb(128, 49, 22), rgb(86, 22, 0)
*/
html, body {
	height: 100%;
}
body {
	color: rgb(255, 255, 255);
	background-color: rgb(41, 82, 109);
	background: radial-gradient(circle at 50% 100px, rgb(83, 136, 170), rgb(13, 35, 50));
	background-attachment: fixed;
}
.modal.fade {
	opacity: 1 !important;
}
.modal-backdrop.fade {
	opacity: 0.8 !important;
}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
	-webkit-transform: translate(0, 200px);
	-ms-transform: translate(0, 200px);
	transform: translate(0, 200px);
	transition: none !important;
}
.modal-content {
	background: transparent !important;
	box-shadow: none !important;
	border: none !important;
	color: rgb(255, 242, 206) !important;
}
.m0 {
	margin: 0;
}
.mt10 {
	margin-top: 10px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-botom: 10px;
}
.mistery-object-title.jumbotron {
	background-color: transparent !important;
	text-shadow: 0 4px 8px rgb(0, 4, 7);
	margin-bottom: 0 !important;
}
.health-bar, .mistery-object-container-outer {
	padding:10px;
	background-color: rgb(78, 62, 16);
	background: linear-gradient(rgb(170, 140, 57), rgb(78, 62, 16));
	border-radius: 4px;
	box-shadow: 0 4px 8px rgb(13, 35, 50);
	border-top: 2px solid rgba(255, 219, 116, 0.7);
}
.health-bar {
	margin-bottom: 30px;
}
.health-bar .progress {
	background-color: rgb(78, 62, 16) !important;
	background: linear-gradient(rgb(11, 8, 0), rgb(78, 62, 16) 20%);
	margin: 0 !important;
}
.health-bar .progress .progress-bar {
	box-shadow: inset 0 0 4px rgb(0, 0, 0);
}
.mistery-object-container-outer {}
.mistery-object-container-inner {}
.hints {
	text-align: left !important;
	margin: 0 !important;
}
.hints i {
	margin-right: 5px;
}
.jumbotron.mistery-object {
	padding: 20px 0;
	background-color: transparent;
	margin: 0;
}

.mistery-object .h1 {
	text-shadow: 0 4px 8px rgb(0, 4, 7);
}
.damagers-info {
	/*text-align: left;*/
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.damagers-container {
	/*background-color: rgba(78, 62, 16, 0.7) !important;
	background: linear-gradient(rgba(78, 62, 16, 0.7), rgba(78, 62, 16, 0.7) 60%, rgba(170, 140, 57, 0.3) 100%) !important;*/
}
.damagers-container-inner {
	/*box-shadow: inset 0 4px 8px rgba(11, 8, 0, 0.8);
	border-bottom: 2px solid rgba(255, 219, 116, 0.6);*/
	padding-bottom: 30px;
	color: rgb(255, 242, 206);
}
.damager-container {
	padding: 30px 0 0 0;
	text-align: center;
}
.damager-container-inner {
	display: inline-block;
	width: 130px;
	height: 130px;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 8px 16px rgba(11, 8, 0, 0.7);
	background-color: rgb(170, 140, 57);
	background: linear-gradient(rgb(255, 242, 206), rgb(170, 140, 57));
}
.damagers-container-inner .row {
	margin: 0 !important;
}
.damagers-container-inner .row > .damager-col {
	padding: 0 !important;
}
.damager-outer {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding: 5px;
	background: linear-gradient(rgb(170, 140, 57), rgb(255, 242, 206));
}
.damager {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	line-height: 100px;
	font-size: 40px;
	color: rgb(255, 255, 255);
	background: radial-gradient(circle at 50% 20%, rgb(84, 184, 136), rgb(11, 55, 34) 40%, rgb(39, 118, 80) 95%);
	box-shadow: inset 0 0 16px rgba(84, 184, 136, 0.8);
	text-shadow: 0 4px 8px rgb(39, 118, 80);
}
.damager-container-inner:hover .damager {
	color: rgba(11, 55, 34, 0.8) !important;
	text-shadow: 0 4px 8px rgb(84, 184, 136);
	background: radial-gradient(circle at 50% 20%, rgb(198, 245, 222), rgb(39, 118, 80) 40%, rgb(84, 184, 136) 95%);
	box-shadow: inset 0 0 16px rgba(39, 118, 80, 0.8);
	font-size: 50px;
	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
    transition: font-size 0.2s;
	transition-timing-function: ease-in;
}
.damager-container-inner.invalid .damager,
.damager-container-inner.invalid:hover .damager {
	color: rgba(255, 255, 255, 0.6) !important;
	background: radial-gradient(circle at 50% 20%, rgb(213, 134, 107), rgb(128, 49, 22) 40%, rgb(170, 86, 57) 95%);
	box-shadow: inset 0 0 16px rgba(213, 134, 107, 0.8);
	text-shadow: 0 4px 8px rgb(170, 86, 57);
}
.footer {
	text-align:center;
	margin-top: 50px;
}

@media (max-width: 767px) {
	.damager-container-inner {
		width: 100px;
		height: 100px;
		padding: 6px;
	}
	.damager-outer {
		padding: 3px;
	}
	.damager {
		line-height: 82px;
		font-size: 30px;
	}
	.damager-container-inner:hover .damager {
		font-size: 40px !important;
	}
}